<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1480f02-470d-4ddd-bf3e-8bd7d94ca8bf" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7a3f0863-4bd9-484d-abab-604c25931326">contentProperties</Composition>
      <Composition Key="6a102294-e91d-4475-bf05-3f303d15bd35">headerProperties</Composition>
      <Composition Key="1a217c1d-66c6-4a94-9ff3-6e1f04df019a">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="db4e7f69-9eb7-439b-94b5-82ac40ad57d4">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>