<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31e45727-2068-42d2-bff6-66ee0d336981" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6a102294-e91d-4475-bf05-3f303d15bd35">headerProperties</Composition>
      <Composition Key="1c547f5c-a230-4cb0-8d0c-bf5697311f3f">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aef88a2c-08a7-47eb-9b70-d0b42d95dd05">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fdd727f1-885b-4eca-997f-391c0eeb26ad" SortOrder="0">contentPage</ContentType>
    <ContentType Key="c1480f02-470d-4ddd-bf3e-8bd7d94ca8bf" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="dd5a796a-2e95-4d65-94ee-4aefb8c4fddc" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>