<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5d6efff-b91e-4b45-b377-d8a3c77e8134" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Shekhar Tarare</Translation>
  </Translations>
</Dictionary>