<?xml version="1.0" encoding="utf-8"?>
<DataType Key="959b9fe2-5e8e-460b-a82b-88f071e36a3b" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "72080cd1-4de7-4d57-abd4-1e9cca63b501",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' +  $index }} {{ $settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "7aa9d4ed-c136-41c1-8016-d368aa31af7e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "50848850-94d4-42cf-8cc2-f7f7ca91c240",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row' + $index }} {{ $settings.hide == '1' ? '[HIDDEN]' :''}}",
      "settingsElementTypeKey": "e0a4b73d-f12e-4779-8000-725fb23a8762",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>