<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c4fe2c8-449a-4465-9924-b060ec4e0312" Alias="[Dropdown] Colors" Level="1">
  <Info>
    <Name>[Dropdown] Colors</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Orange"
    },
    {
      "id": 3,
      "value": "Green"
    },
    {
      "id": 4,
      "value": "Blue"
    },
    {
      "id": 5,
      "value": "Black"
    },
    {
      "id": 6,
      "value": "Pink"
    },
    {
      "id": 7,
      "value": "Violet"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>