<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8d631fa-a9cf-40d0-bf0e-f4067f6bb1df" Alias="[Nested] Navigation Item List" Level="1">
  <Info>
    <Name>[Nested] Navigation Item List</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>