<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca5078e4-6cb6-45f7-990f-5c430101647b" Alias="[RepeatableTextstrings] Name" Level="1">
  <Info>
    <Name>[RepeatableTextstrings] Name</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>