<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b40175a-d366-4bf5-9974-f0dc5d2b8a2d" Alias="Kevin Canlas Wycxe2brkz8 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinCanlasWycxe2brkz8Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-09T11:48:57</CreateDate>
    <NodeName Default="Kevin Canlas Wycxe2brkz8 Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lqlfbc1g/kevin-canlas-wycxe2brkz8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>