<?xml version="1.0" encoding="utf-8"?>
<Content Key="cee3ca3b-cf52-487a-a927-cb6ff00b6a5a" Alias="About" Level="2">
  <Info>
    <Parent Key="5cee2878-d818-4381-aa63-824355011ad0">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-01-09T19:09:09</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc2fd0d3-d174-4e40-b58e-396217ddd2d8">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "2f6fca34-57f3-4bf1-817e-d6f55b7d39f7",
    "mediaKey": "80c7fd07-bdf3-40b4-ac7e-6edc8faebda5"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a172d95e4cbf492591175433f4ac66ca",
        "settingsUdi": "umb://element/cd0e5d76c9f34177a0c7595d4a8acaa6"
      },
      {
        "contentUdi": "umb://element/b69de0345c49467aa3cf631205a68dea",
        "settingsUdi": "umb://element/5dd9f20d4cf1464caf6c641d17cfcc9c"
      },
      {
        "contentUdi": "umb://element/e237dfa0974e463688b0750d8deb0b80",
        "settingsUdi": "umb://element/ad99e42b62544dd7bbbbf0e66491bb27"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "72080cd1-4de7-4d57-abd4-1e9cca63b501",
      "udi": "umb://element/a172d95e4cbf492591175433f4ac66ca",
      "content": "<p>dui accumsan sit amet. Massa tincidunt dui ut ornare lectus sit amet est placerat. Ultrices dui sapien eget mi proin sed libero enim. Tellus integer feugiat scelerisque varius morbi enim nunc. Cursus mattis molestie a iaculis at erat pellentesque. At volutpat diam ut venenatis.</p>\n<p>Sed cras ornare arcu dui vivamus arcu felis bibendum. Tincidunt augue interdum velit euismod in. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Morbi tempus iaculis urna id volutpat lacus laoreet non. Velit laoreet id donec ultrices tincidunt arcu. A arcu cursus vitae congue</p>\n<p> </p>"
    },
    {
      "contentTypeKey": "72080cd1-4de7-4d57-abd4-1e9cca63b501",
      "udi": "umb://element/e237dfa0974e463688b0750d8deb0b80",
      "content": "<p>dui accumsan sit amet. Massa tincidunt dui ut ornare lectus sit amet est placerat. Ultrices dui sapien eget mi proin sed libero enim. Tellus integer feugiat scelerisque varius morbi enim nunc. Cursus mattis molestie a iaculis at erat pellentesque. At volutpat diam ut venenatis.</p>\n<p>Sed cras ornare arcu dui vivamus arcu felis bibendum. Tincidunt augue interdum velit euismod in. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Morbi tempus iaculis urna id volutpat lacus laoreet non. Velit laoreet id donec ultrices tincidunt arcu. A arcu cursus vitae congue</p>"
    },
    {
      "contentTypeKey": "50848850-94d4-42cf-8cc2-f7f7ca91c240",
      "udi": "umb://element/b69de0345c49467aa3cf631205a68dea",
      "image": [
        {
          "key": "6da2de8e-7b51-4689-a924-6e79ee4496d7",
          "mediaKey": "80c7fd07-bdf3-40b4-ac7e-6edc8faebda5"
        }
      ],
      "caption": "This is some random picture",
      "link": [
        {
          "name": "Umbraco",
          "target": "_blank",
          "url": "https://umbraco.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7aa9d4ed-c136-41c1-8016-d368aa31af7e",
      "udi": "umb://element/cd0e5d76c9f34177a0c7595d4a8acaa6",
      "hide": "0"
    },
    {
      "contentTypeKey": "e0a4b73d-f12e-4779-8000-725fb23a8762",
      "udi": "umb://element/5dd9f20d4cf1464caf6c641d17cfcc9c",
      "hide": "1"
    },
    {
      "contentTypeKey": "7aa9d4ed-c136-41c1-8016-d368aa31af7e",
      "udi": "umb://element/ad99e42b62544dd7bbbbf0e66491bb27"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[This well tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>