<?xml version="1.0" encoding="utf-8"?>
<Content Key="cee3ca3b-cf52-487a-a927-cb6ff00b6a5a" Alias="About" Level="2">
  <Info>
    <Parent Key="5cee2878-d818-4381-aa63-824355011ad0">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-01-09T19:09:09</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc2fd0d3-d174-4e40-b58e-396217ddd2d8">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "2f6fca34-57f3-4bf1-817e-d6f55b7d39f7",
    "mediaKey": "80c7fd07-bdf3-40b4-ac7e-6edc8faebda5"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[This well tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>