<?xml version="1.0" encoding="utf-8"?>
<Content Key="366b81ca-841b-400c-b3c7-2a9880912a55" Alias="Blog" Level="2">
  <Info>
    <Parent Key="5cee2878-d818-4381-aa63-824355011ad0">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-01-09T19:30:17</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="db4e7f69-9eb7-439b-94b5-82ac40ad57d4">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "7e360aa3-2589-4e51-861b-6de270c4e9d6",
    "mediaKey": "80c7fd07-bdf3-40b4-ac7e-6edc8faebda5"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[This is the first blog]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[First Blog]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>