<?xml version="1.0" encoding="utf-8"?>
<Content Key="5cee2878-d818-4381-aa63-824355011ad0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-01-07T19:34:02</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aef88a2c-08a7-47eb-9b70-d0b42d95dd05">HomePage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "32f05001-537d-40ea-8e5f-bea230f56b44",
    "mediaKey": "8b40175a-d366-4bf5-9974-f0dc5d2b8a2d"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "c1268f7c-22c9-47c1-b090-32be556a20b5",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/5cee2878d8184381aa63824355011ad0"
      }
    ],
    "childLinks": null
  },
  {
    "key": "cb96540d-4df3-4c7a-96a1-a8ad9fc79f3b",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/cee3ca3bcf52487aa927cb6ff00b6a5a"
      }
    ],
    "childLinks": null
  },
  {
    "key": "5c1914f2-4f64-4913-a0c9-9dda1ca20ada",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/366b81ca841b400cb3c72a9880912a55",
        "queryString": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "",
        "queryString": "#testing2"
      },
      {
        "name": "Latest Blog Posts",
        "url": "",
        "queryString": "#testing3"
      }
    ]
  },
  {
    "key": "b5378061-9a96-40b6-b93f-b35fc92273ad",
    "name": "Item 4",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/c3a43ca5686c48c49a37d5a766e66ebf"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[Hello this is me!]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Blog]]></Value>
    </title>
  </Properties>
</Content>